<div class="location">
  <h4>Location:</h4>
  <p><strong>Facility:</strong> <%= location.facility %></p>
  <p><strong>City:</strong> <%= location.city %></p>
  <p><strong>Country:</strong> <%= location.country %></p>
</div>
<hr>
