<div class="location">
  <h4>Location:</h4>
  <p><strong>Facility:</strong> <%= location.location_facility %></p>
  <p><strong>City:</strong> <%= location.location_city %></p>
  <p><strong>Country:</strong> <%= location.location_country %></p>
</div>
<hr>
