<div class="outcome">
  <h4>Outcome:</h4>
  <p><strong>Measure:</strong> <%= outcome.outcome_measure %></p>
  <p><strong>Type:</strong> <%= outcome.outcome_type %></p>
  <p><strong>Description:</strong> <%= outcome.outcome_description %></p>
  <p><strong>Time Frame:</strong> <%= outcome.outcome_time_frame %></p>
</div>
<hr>
